html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box; 
  font-family: 'Open Sans', sans-serif;
}

section {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("image/poster2.png");
  background-size: 100% 100%;
}

p {
  position: relative;
  overflow: hidden;
  overflow-x: auto;
}

#wheel-container {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  overflow: hidden;
}

.prompt {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 2%;
  text-align: center;
  overflow: hidden;
}

.changing-segment {
  box-shadow: 1px 1px 1.5px 1px #777 inset;
  border-radius: 5%;
  border-style: groove;
  border-color: gray;
  border-width: 1px;
  position: relative;
  overflow: none;
  background-color: #fff;
  color: black;
  height: 17rem;
  padding: 1rem 0 0.5rem 0;
  font-size: 1.2rem;
  line-height: 1.55rem;
}

#inputs,
#outputs {
  padding: 5%;
}

.prompt-label {
  color: #594042;
  margin-top: 0.3rem;
  font-size: 1.6rem;
}

#button-container {
  margin-top: 1%;
  text-align: center;
}

button {
  background: #fa82be;
  /* background: #96c8dc; */
  cursor: pointer;
  box-shadow: 1px 1px 2px 1px rgb(148, 79, 79);
  color: white;
  border-width: 0px;
  border-radius: 0.5rem;
  padding: 0.8% 10% 0.8% 10%;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: italic;
}



